In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/pokemon_data.csv')
# print(data.to_string())
df_csv = pd.DataFrame(data)
# print(df_csv.to_string())
df_csv.head(10)
# df_csv.tail(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [7]:

# df_xlsx = pd.read_excel('data/pokemon_data.xlsx')
df_xlsx = pd.read_excel('data/pokemon_data.xlsx', sheet_name='Sheet02')
print(df_xlsx.head())
# print(df_xlsx['Name'].head())

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [11]:
df_txt = pd.read_csv('data/pokemon_data_del.txt', delimiter='\*')
# df_txt = pd.read_csv('data/pokemon_data_del.txt')
print(df_txt.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

C:\Users\DELL\AppData\Local\Temp\ipykernel_31496\3848163580.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_txt = pd.read_csv('data/pokemon_data_del.txt', delimiter='\*')

In [12]:
df = pd.read_csv('data/pokemon_data.txt', delimiter='\t')
# # df = pd.read_csv('data/pokemon_data.txt')
print(df.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [17]:
df_json= pd.read_json('data/pokemon_data.json')
# # print(df_json.head(5))

# # df_json
print(df_json.columns)
# df_json['Name']
df_json[['#','Name','Type 1','Defense']]

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

       #                   Name   Type 1  Defense
0      1              Bulbasaur    Grass       49
1      2                Ivysaur    Grass       63
2      3               Venusaur    Grass       83
3      3  VenusaurMega Venusaur    Grass      123
4      4             Charmander     Fire       43
..   ...                    ...      ...      ...
795  719                Diancie     Rock      150
796  719    DiancieMega Diancie     Rock      110
797  720    HoopaHoopa Confined  Psychic       60
798  720     HoopaHoopa Unbound  Psychic       60
799  721              Volcanion     Fire      120

[800 rows x 4 columns]